<header class="p-2 text-bg-dark">

    <div class="d-flex flex-wrap align-items-center justify-content-center flex-column flex-sm-row">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
            <% if (primaryUser !=undefined) { %>


                <li><a href="/members" class="nav-link px-2 text-white">Profile</a></li>
                <% if (primaryUser.role==='Admin' ) { %>
                    <li><a href="/admin" class="nav-link px-2 text-white">Admin</a></li>
                    <% } %>
                        <% } %>
        </ul>

        <% if (primaryUser===undefined) { %>
            <div class="text-end">
                <a class="btn btn-outline-light" href="/login" role="button">Login</a>
                <a class="btn btn-warning" href="/signup" role="button">Sign Up</a>
            </div>

            <% } else {%>
                <form action="/logout" method="post">
                    <input class="btn btn-outline-danger" type="submit" value="Sign Out" />
                </form>
                <% } %>

    </div>

</header>