<form style="margin-bottom:2px" action="./signup">
    <input type="submit" value="Sign Up" />
</form>
<form style="margin-bottom:2px" action="./login">
    <input type="submit" value="Log In" />
</form>
<form style="margin-bottom:2px" action="./fakeRoute${fakeRouteNumber}">
    <input type="submit" value="Unknown Page" />
</form>