<h3 style="margin-bottom:2px"> Hello, <%= user %>!</h3>
<form style="margin-bottom:2px" action="./members">
    <input type="submit" value="Members Area" />
</form>
<form style="margin-bottom:2px" action="./logOut" method="getS">
    <input type="submit" value="Log Out" />
</form>