<h3 style="margin-bottom:2px">
    Hello, <%= username %>!
</h3>
<img style="margin-bottom:2px" src="/images/a1img<%= imageNum %>.png">

<form style="margin-bottom:2px" margin-bottom:2px action="./">
    <input type="submit" value="Home" />
</form>
<form style="margin-bottom:2px" margin-bottom:2px action="./logOut" method="get">
    <input type="submit" value="Log Out" />
</form>